body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: sans-serif;
    background: url(images/plantgood.jpg) center / cover;
    
}


input.section{
    width: 400px;
    border-radius: 13px;
}


#main_container{
    margin: auto;
    width: 60%;
    height: 100%;
    border: dashed 1px black;
}


#banner, #books{
    display: grid;
    font: bolder;
    color: aliceblue;

}

#banner{
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(10,1fr);
    height: 7%;

}

.top-button{
    display: flex;
    justify-content: center;
    align-items: center;  
}



label{
    color: rgb(245, 245, 220);
}



#popup{
    margin: auto;
    width:30%;
    height: 25%;
    background-color: #d4914ac6;
    border-radius: 17px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.75);
    opacity: 0; /*allows to show and hide the form*/
    visibility: hidden;
    transition: 0.5s;
}

#popup.active{
    opacity: 1; /*allows to show and hide the form*/
    visibility: visible;
    transition: 0.5s;
}

#chart-container.active{
    opacity: 1; /*allows to show and hide the form*/
    visibility: visible;
    transition: 0.5s;
}

#chart-container{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 10%);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 10px;
    opacity: 0; /*allows to show and hide the form*/
    visibility: hidden;
    transition: 0.5s;
    background-color: #fff5;

    width: 100vw;
    height: calc(100vh - 40px);
    /*background: rgba(54, 162, 235, 0.2);*/
    display: flex;
    align-items: center;
    justify-content: center;

}

.container#to-opace.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none ;
}

#my-table{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 50vw;
    /*height: 1vh;*/
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 10px;
    background-color: #fff5;
}

.table-header{
    background-color: #fff4;
    padding: .8rem 1rem;
} 

th, td {

    padding: 1rem;
    text-align: center;
    height: 50px;

  }

  tr{
    height: 25px;
  }

  .my-tr:hover{
    background-color: #fff6;
  }

  .status-read{
    background-color: green;
    padding: .4rem 0;
    border-radius: 2rem;
    width: 10%;
    height:80%;
  }

  .status-non-read{
    background-color: red;
    padding: .4rem 0;
    border-radius: 2rem;
  }

#btnsubmit{
    background-color:#737373;
    width: 100px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0,75);
    font-size: large;
    padding: 10px, 25px;

}
button{
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0,75);
    font-size: large;
    padding: 10px, 25px;
}

.form-elements{

    display: flex;
    font-size: x-large;
    gap: 5px;
    
}

.chart{
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background-color: #fff5;
}

canvas{
    height:100%;
    width: 100%;
}