body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


input.section{
    width: 400px;
    border-radius: 13px;
}


#main_container{
    margin: auto;
    width: 60%;
    height: 100%;
    border: dashed 1px black;
}


#banner, #books{
    display: grid;

}

#banner{
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(10,1fr);
    height: 7%;

}

#adding{
    display: flex;
    justify-content: center;
    align-items: center;   
}

#popup{
    /*display: flex;
   flex-direction: column;
    /*align-items: center;
    justify-content: space-evenly;*/
    margin: auto;
    width:50%;
    height: 500px;
    background-color: beige;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    opacity: 0; /*allows to show and hide the form*/

}

#my-table{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    min-width: 60%;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid;
  }

button{
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0,75);
    font-size: large;
    padding: 10px, 25px;
}

.form-elements{

    display: flex;
    font-size: x-large;
    gap: 5px;
    
}