body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#main-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

#header{

    background-color: #8739f9;
    color: white;
    height: 11%;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;


}


#title{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:2;

    font-size: xx-large;
    font-weight: 900;
}

#stats{
    grid-column-start: 18;
    grid-column-end: 20;
    height: 100px;
    margin: auto;
    width: 50%;
    border-radius: 25px;
    font-size: x-large;
    font-weight: 900;
    background-color: #8739f9;
    border: none;
    color: aliceblue;
    
}

#stats:hover{
    background-color: #09080a41;
}

#add-book{
    height: 100px;  
    width: 100px;
    border-radius: 50%;
    border: none;
    font-size: xx-large;
    font-weight: 900;
    background-color: #8739f9;
    color: aliceblue;

}

#add-book:hover{
    background-color: #09080a41;
}

#book-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 75%;
    margin: auto;
    border: black 1px;
}

.book-slots{
    /*width: 250px;*/
    width: 300px;
    height: 370px;
    border: black 1px;
    gap: 3px;
}

#book-form{
    background-color: #8739f9;
    width: 50%;
    height: 55%;
    margin: auto;
    border-radius: 25px;
    padding: 10px;
}

.division-book-form{
    display: flex;
    flex-direction: row;
    height: 16%;
    width: 85%;
    margin: auto;
    gap: 30px;
    
}

input{
    background-color:#9153ee00 ;
    width: 100%;
    height: 45px;
    border-top: 3px rgb(248, 248, 248);
    border-left: 3px rgb(244, 243, 243);
    border-right: 3px rgb(255, 245, 245);
}

input:focus{
    border-radius: 15px ;
    outline: 2px #8739f9;  /*this stops the input element from changing color when it is selected. */
   
    

}

.form-text{
    font-weight: 800;
    color: rgb(49, 62, 73);

}

#book-form{
display: grid;
grid-template-columns: 0.3fr 1fr 0.2fr;
grid-template-rows: repeat(7,1fr) ;


}
.book-form-divs{
    border: black 2px;
}

#submit{
    border-radius: 50px;
    width: 90%;
    font-size: xx-large;
    font-weight: 900;
    color: aliceblue;
    background-color:  #8739f9;
}

.text-form{
    font-size: x-large;
    font-weight: 900;
    color: aliceblue;
}